/* Container */
.dashboard-container {
  max-width: 1100px;
  width: 100%;
  margin: auto;
  padding: 15px;
  overflow-x: hidden;
}

/* Header */
.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.dashboard-header h1 {
  margin: 0;
}

.user-email {
  font-size: 14px;
  color: gray;
}

/* Summary Cards */
.summary-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  margin-bottom: 20px;
}

.summary-card {
  background: white;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.summary-card h3 {
  margin-bottom: 5px;
  color: #4f46e5;
}

/* Forms */
.form-card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.form-card input,
.form-card select {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

/* Chart */
.chart-box {
  background: white;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Table */
.table-card {
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  /* overflow-x: auto; */
  max-width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.table-card table {
  width: 100%;
  border-collapse: collapse;
}

.table-card th,
.table-card td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.table-card th {
  background: #eef2ff;
}

/* Buttons */
.logout-btn {
  background: #dc2626;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
}

.logout-btn:hover {
  background: #b91c1c;
}

.add-btn {
  background: #4f46e5;
  color: white;
  border: none;
  padding: 8px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}

.add-btn:hover {
  background: #4338ca;
}

.delete-btn {
  background: #ef4444;
  color: white;
  border: none;
  padding: 5px 8px;
  border-radius: 4px;
  cursor: pointer;
}

.delete-btn:hover {
  background: #dc2626;
}

.chart-box canvas {
  max-width: 100% !important;
  height: auto !important;
}


/* Mobile */
@media (max-width: 600px) {
  .dashboard-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  table {
    font-size: 12px;
  }

  .summary-card h2 {
    font-size: 18px;
  }

  .dashboard-container {
    padding: 10px;
  }
}

.pdf-btn {
  background: #4f46e5;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 10px;
  font-size: 14px;
}

.pdf-btn:hover {
  background: #4338ca;
}